.favorite {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    border: 1px solid black;
}

.favoritesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40rem;
    border: 1px solid black
}

.button__delete {
    width: min-content;
}

.favorite {
    justify-content: center;
    
}