.addBusinessForm {
    margin: 1em;
}

.addBusinessForm--Title {
    display: flex;
    justify-content: center;
}

.businessFormNote {
    border: 1px solid black;
}

.newBusiness {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    margin: 1em
}

.singleBusiness {
    display: flex;
    flex-direction: column;
    align-content: center;
}

