.addBusinessForm {
    margin: 1em;
}

.addBusinessForm--Title {
    display: flex;
    justify-content: center;
}

.businessFormNote {
    border: 1px solid black;
}

.newBusiness {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    height: 29.5em;
}

.terminalContainer {
    height: 80em;
}

.terminalform-group {
    margin: .5em;
}

.terminalButton {
    width: max-content;
    background-color: #def2f1 !important;
}

.logoutButton {
    margin: 1em
}

.businessDetail {
    margin: .75em;
}

.title {
    margin-top: 2em;
}


