@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&display=swap" rel="stylesheet');


.userLogo {
    display: block;
    max-width: 35%;
    height: auto;
    background-color: #ffffff;
    margin: 1em
}
.dashboardContainer {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #536c71;
}

.dashboardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchForm-Group {
    display: inline;
    justify-content: center;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.singleSearchResult {
    margin: 1em;
    text-align: center;
    width: max-content;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25pt;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.searchBar {
    width: inherit;
}

.customerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1em;
}

.favoritesContainer {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-content: center;
}

.favoriteItem {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0;
    width: inherit;
    background-color: #def2f1;
}

.notesForm {
    border-bottom: 2px solid #daa520;
    margin-top: 1em;
}

.button__favorites {
    margin: .25em;
    width: min-content;
}

.buttonContainer {
    margin: 1em;
}

.deleteButton {
    display: inline-block;
    border: 1px solid #2a3638;
    padding: 1em 3em 1em 3em;
    background: #def2f1;
    color: #536c71;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.favoritesTitle {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.modal-header {
    background-color: #feffff;
}

.modal-body {
    justify-content: center;
    background-color: #def2f1;

}

.modal-content {
    justify-content: center;
    width: fit-content;
}

.addToFavorites-button {
    width: max-content;
}

.modal-title {
    font-weight: bolder;
}

.button__logout {
    margin: 1em;
    height: 75%
}

.favorite__note {
    font-size: 1.5em;
}

.searchCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    font-size: auto;
    border: .25em solid #a4bdc2;
    margin: .5em;

}

.searchOption {
    width: 8em;
    height: auto;
    align-content: center;
    margin: 0em;
}

.selections {
    display: flex;
    justify-content: center;
}

.search-button {
    width: "1em";
    display: flex;
    align-content: center;
}


#buttonLogo {
    width: 8%;
    height: auto;
}

.favoriteDetail {
    border-bottom: 2px solid #daa520;
}